<!DOCTYPE html>
<html>
  <head>
    <title>Ask My Book (Clone)</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_stylesheet_tag 'styles.css' %>

    <%= vite_react_refresh_tag %>

    <%= vite_client_tag %>
    <%= vite_typescript_tag 'index.tsx' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
